div{
    width:800px;
    margin: 5% 5% 5% 5%;
}
.one{
    border:solid yellow;
    background-color: antiquewhite;
}
.one{
    background-color: antiquewhite;
}
.two{
    border:solid yellow;
    height:200px;
    background-color: lightblue;
}
.three{
    border:solid yellow;
    background-color: lightgrey;
}
.first{
    background-color: antiquewhite;
    height:300px;
}
h1{
    background-color: white;
}
h3{
    background-color: aquamarine;
}

*{
    padding: 0px;
}